:root {
  --bg-color: #000028;
  --text-color: #F1B2CE;
  --accent-color: #FF0070;
  --title-color: #DB00FF;
  --title-shadow: #FF0070;
  --button-hover: rgba(255, 0, 112, 0.4);
  --decor-color: #FF0070;
  --section-title: #FF0070;
  --main-font: monospace;
  --font-size: 18px;
  --gap: 20px;
}